.css-131faqr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.css-1ogxbr3 {
    color: #000000;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 12px;
}