.cart-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.cart-items {
  margin-bottom: 20px;
}

.product-image-cart {
  img {
    width: 170px;
    margin: 40px;
  }
}

.cart-item {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.product-info-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.product-details-cart {
  text-align: center;
  margin-top: 5px;
  .cart-product-title {
    font-size: 20px;
  }
}

.checkout {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  align-items: center;
}

.buttonsCart {
  width: 100px;
}

.nothingCart {
  display: flex;
  justify-content: center;
  text-align: center;
}

.total {
  margin: 20px;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.removeButton {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .product-image-cart {
    img {
      width: 170px;
      margin-left: 5%;
    }
  }
}
