.product-page {
    display: flex;
    width: 100%;
    margin-top: 5%;

  }
  
  .product-image img {
    max-width: 100%;
    width: 400px;
    margin: 30px;
    margin-left: 150px;
  }
  
  .product-info {
    h1 {
      font-size: 24px;
    }
  }

  .buttons {
    margin: 10px;
    padding: 15px;
    width: 380px;
  }

  .productDetail {
    text-align: left;
    padding-left: 165px;
  }
  
 #secondaryButton {
    margin: 10px;
    padding: 15px;
    width: 380px;
  }
  
  @media screen and (max-width: 1000px) {
    .product-page {
      flex-direction: column;
    }
  
    .product-image img{
      order: initial;
      justify-self: left;
      margin-left: 15px;
    }
  
    .product-info {
      margin-bottom: 50px;
    }
    .productDetail {
      padding-left: 30px;
    }
  }