@import '../../../variables';

// .css-18wonve {
//     font-family: $openSans-font-family;
//     height: 100%;
//     text-align: start;

// .css-18wonveDiv {
//     height: 100vh;
//     display: -webkit-box;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//     -webkit-justify-content: center;
//     -ms-flex-pack: center;
//     justify-content: center;

.css-1g30k5b {
    max-width: 460px;
    margin: 0px 36px;
    width: 100%;

    .css-1qzlyy1 {
        position: relative;
        padding-bottom: 60px;

        .css-vxgrp0 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;

            .css-5ourb5 {
                position: relative;
                width: 100%;
                max-height: 84px;

                .css-1am57kc {
                    white-space: nowrap;
                    overflow: hidden;
                }

            }
        }
    }

    .css-5p7ysv {
        width: 100%;
        box-sizing: border-box;
        font: $podium-cds-typography-body1;
        overflow: visible;
        position: relative;
        min-height: $podium-cds-size-form-input-container-height;

        .nds-input-layout-control {
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            background-color: transparent;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: $podium-cds-size-form-input-field-height;
            top: $podium-cds-size-spacing-s;
            border-radius: $podium-cds-size-border-radius-m;
            padding: 10px;
        }

        label {
            pointer-events: none;
        }

        .css-15zk0wt {
            position: absolute;
            left: $podium-cds-size-spacing-s;
            top: 16px;
            user-select: none;
            // line-height: $podium-cds-typography-body-2-height;
            transform: scale(1);
            transform-origin: left center;
            will-change: transform;
            transition-property: transform;
            transition-duration: $podium-cds-transition-duration-normal;
            transition-timing-function: $podium-cds-transition-timing-function-ease;
            color: $podium-cds-color-text-secondary;
            pointer-events: none;
            // padding: 0 $podium-cds-size-spacing-xs;
        }

        fieldset {
            position: absolute;
            box-sizing: border-box;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            border-color: $podium-cds-color-border-primary;
            border-style: solid;
            border-width: $podium-cds-size-border-width-s;
            border-radius: $podium-cds-size-border-radius-m;
            padding: 0px;
            margin: 0px;
            pointer-events: none;

            legend {
                border: 0px;
                margin-left: 7px;
                padding: 0px;
                font-size: 0px;
                visibility: hidden;
                height: 1px;
                transition-property: padding, font-size;
                transition-duration: $podium-cds-transition-duration-normal;
                transition-timing-function: $podium-cds-transition-timing-function-ease;
            }
        }

        .css-1eif5ff {
            text-align: start;
        }

        .textfield-support-container {
            position: relative;
            margin-top: $podium-cds-size-spacing-s;
            display: flex;
            padding: $podium-cds-size-spacing-xs $podium-cds-size-spacing-grid-gutter-l 0 $podium-cds-size-spacing-grid-gutter-l;
        }
    }
}

.css-yshjmt {
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    font-size: 24px;
    width: var(--podium-cds-size-icon-m);
    height: var(--podium-cds-size-icon-m);
    margin-inline-end: var(--podium-cds-size-spacing-m);
    border: 0px;
    overflow: visible;
}

.css-1qmkbv8 {
    // position: absolute;
    cursor: pointer;
    background-color: unset;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1rvsp8p {
    position: absolute;
    bottom: -2px;
    right: 12px;
    left: 12px;
    color: rgb(117, 117, 117);
    font-size: 12px;
    opacity: 0;
    transition: all 0.2s ease 0s;
    display: flex;
    flex-direction: row-reverse;
}

.css-vl5qra {
    margin: -20px 0px 10px 12px;
    font-size: 12px;
    width: 100%;
}

.css-5aganl {
    margin: 8px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    p {
        color: rgb(117, 117, 117);
        margin: 0px 5px;
    }
}

.css-1x6kkl1 {
    width: 100%;
    box-sizing: border-box;
    font: $podium-cds-typography-body1;
    overflow: visible;
    position: relative;
    min-height: $podium-cds-size-form-input-container-height;

    .nds-select-layout-control {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: $podium-cds-size-form-input-field-height;
        top: $podium-cds-size-spacing-s;
        border-radius: $podium-cds-size-border-radius-m;
        border: 1px solid $podium-cds-color-border-primary;

        .css-15zk0wt {
            position: absolute;
            left: $podium-cds-size-spacing-s;
            top: 16px;
            user-select: none;
            // line-height: $podium-cds-typography-body-2-height;
            transform: scale(1);
            transform-origin: left center;
            will-change: transform;
            transition-property: transform;
            transition-duration: $podium-cds-transition-duration-normal;
            transition-timing-function: $podium-cds-transition-timing-function-ease;
            color: $podium-cds-color-text-secondary;
            pointer-events: none;
            padding: 0 $podium-cds-size-spacing-xs;
        }
    }
}

.name-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.css-1jjxzuj {
    position: relative;
    width: 100%;
    height: $podium-cds-size-form-input-field-height;
    color: $podium-cds-color-text-primary;

    select {
        width: 100%;
        box-sizing: border-box;
        border-radius: $podium-cds-size-border-radius-s;
        outline: 0px;
        appearance: none;
        opacity: 0;
    }

    .value-display {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        position: absolute;
        inset: 0px;
        width: 100%;
        pointer-events: none;

        span {
            margin-inline-start: $podium-cds-size-spacing-grid-gutter-l;
            width: calc(100% - 64px);
            font: $podium-cds-typography-body1;
        }

        svg {
            margin-inline-end: $podium-cds-size-spacing-m;
            margin-inline-start: $podium-cds-size-spacing-m;
        }
    }

    fieldset {
        position: absolute;
        box-sizing: border-box;
        left: 0px;
        top: 0px;
        width: 100%;
        height: $podium-cds-size-form-input-field-height;
        border-color: $podium-cds-color-border-primary;
        border-style: solid;
        border-width: $podium-cds-size-border-width-s;
        border-radius: $podium-cds-size-border-radius-m;
        padding: 0px;
        margin: 0px;
        pointer-events: none;
    }
}

.css-mkjsdf {
    max-width: 460px;
    min-width: 250px;
    margin: 0px 36px;
    width: 100%;

    .css-1qzlyy1 {
        position: relative;
        padding-bottom: 60px;

        .css-vxgrp0 {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            flex-wrap: wrap;

            .css-1u49mdr {
                min-height: 40px;
                position: relative;
                margin-bottom: 16px;
                padding-top: 2px;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                overflow: clip;

                .css-1cq8889 {
                    color: rgb(17, 17, 17);
                    font-size: medium;
                }

                .css-nohim6 {
                    max-width: min-content;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: -18px;
                    white-space: nowrap;

                    .css-t4rufh {
                        width: max-content;
                        display: inline-block;
                        text-decoration: underline;
                        font-size: medium;
                        color: rgb(117, 117, 117);
                    }

                    .css-7o1x1z {
                        cursor: pointer;
                        opacity: 0;
                        position: absolute;
                        font-size: medium;
                    }
                }
            }

            // .css-5p7ysv {
            //     width: 100%;
            //     box-sizing: border-box;
            //     font: $podium-cds-typography-body1;
            //     overflow: visible;
            //     position: relative;
            //     min-height: $podium-cds-size-form-input-container-height;

            //     .nds-input-layout-control {
            //         display: flex;
            //         -webkit-box-pack: start;
            //         justify-content: flex-start;
            //         background-color: transparent;
            //         -webkit-box-align: center;
            //         align-items: center;
            //         position: relative;
            //         width: 100%;
            //         height: $podium-cds-size-form-input-field-height;
            //         top: $podium-cds-size-spacing-s;
            //         border-radius: $podium-cds-size-border-radius-m;

            //         .css-1x735yy {
            //             border: 0px;
            //             margin: 0px;
            //             padding-top: $podium-cds-size-spacing-grid-gutter;
            //             padding-inline-end: $podium-cds-size-spacing-grid-gutter;
            //             padding-bottom: $podium-cds-size-spacing-grid-gutter;
            //             padding-inline-start: $podium-cds-size-spacing-grid-gutter-l;
            //             width: 100%;
            //             box-sizing: border-box;
            //             font: $podium-cds-typography-body1;
            //             color: $podium-cds-color-text-primary;
            //             background-color: transparent;
            //             height: $podium-cds-size-form-input-field-height;
            //             border-radius: $podium-cds-size-border-radius-m;
            //         }

            //         input:-webkit-autofill~label {
            //             // line-height: 16px;
            //             top: $podium-cds-size-spacing-m;
            //         }

            //         input {
            //             width: 100%;
            //             height: 100%;
            //         }

            //         label {
            //             pointer-events: none;
            //         }

            //         .css-5juldo {
            //             position: absolute;
            //             left: $podium-cds-size-spacing-s;
            //             top: 16px;
            //             user-select: none;
            //             line-height: 16px;
            //             transform: scale(0.75) translateY(-32px);
            //             transform-origin: left center;
            //             will-change: transform;
            //             transition-property: transform;
            //             transition-duration: $podium-cds-transition-duration-normal;
            //             transition-timing-function: $podium-cds-transition-timing-function-ease;
            //             color: $podium-cds-color-text-secondary;
            //             pointer-events: none;
            //             padding: 0 $podium-cds-size-spacing-xs;
            //         }

            //         fieldset {
            //             position: absolute;
            //             box-sizing: border-box;
            //             left: 0px;
            //             bottom: 0px;
            //             width: 100%;
            //             height: 100%;
            //             border-color: $podium-cds-color-border-primary;
            //             border-style: solid;
            //             border-width: $podium-cds-size-border-width-s;
            //             border-radius: $podium-cds-size-border-radius-m;
            //             padding: 0px;
            //             margin: 0px;
            //             pointer-events: none;
            //         }

            //         .css-1eif5ff {
            //             text-align: start;
            //         }
            //     }

            //     .textfield-support-container {
            //         position: relative;
            //         margin-top: $podium-cds-size-spacing-s;
            //         display: flex;
            //         padding: $podium-cds-size-spacing-xs $podium-cds-size-spacing-grid-gutter-l 0 $podium-cds-size-spacing-grid-gutter-l;
            //     }
            // }

            .css-m196z {
                width: 80%;
                margin: 24px 0px;
                display: flex;
                align-items: flex-start;

                .css-zinu7o {
                    color: rgb(117, 117, 117);
                    text-align: start;

                    .css-zinu7o a {
                        color: rgb(117, 117, 117);
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }


            .css-1cuic7g {
                margin-top: 15px;
                width: 100%;

                .css-6kj7vn {
                    text-align: center;
                    box-sizing: border-box;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    cursor: pointer;
                    min-height: $podium-cds-button-height-m;
                    position: relative;
                    transform: translate3d(0px, 0px, 0px);
                    color: $podium-cds-color-text-primary-inverse;
                    line-height: 16px;
                    font-size: medium;
                    font-weight: normal;
                    text-decoration: none;
                    padding: $podium-cds-button-padding-top-m $podium-cds-button-padding-sides-m;
                    overflow: hidden;
                    background: $podium-cds-button-color-bg-primary;
                    border-width: initial;
                    border-style: none;
                    border-color: initial;
                    border-image: initial;
                    border-radius: $podium-cds-button-border-radius;
                    outline: none;
                    white-space: nowrap;
                }
            }

            @media (min-width: 376px) {
                .css-1cuic7g {
                    display: flex;
                    flex-direction: row-reverse;
                    flex: 1 1 0%;
                    float: right;
                }
            }
        }
    }
}

// }

// }

[class*=g72] {
    font-family: nike-glyphs;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-5p7ysv {
    width: 100%;
    box-sizing: border-box;
    font: $podium-cds-typography-body1;
    overflow: visible;
    position: relative;
    min-height: $podium-cds-size-form-input-container-height;
}

.css-1c9zkn0 {
    border: 0px;
    margin: 0px;
    padding-top: $podium-cds-size-spacing-grid-gutter;
    padding-inline-end: $podium-cds-size-spacing-m;
    padding-bottom: $podium-cds-size-spacing-grid-gutter;
    padding-inline-start: $podium-cds-size-spacing-grid-gutter-l;
    width: 100%;
    box-sizing: border-box;
    font: $podium-cds-typography-body1;
    color: $podium-cds-color-text-primary;
    background-color: transparent;
    height: $podium-cds-size-form-input-field-height;
    border-radius: $podium-cds-size-border-radius-m;
}

.css-pjd5pq {
    color: rgb(17, 17, 17);
    font-size: medium;
    line-height: 24px;
    margin: 12px 0px 24px;

    .css-13o17gl {
        color: rgb(17, 17, 17);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px 0px 24px;

        .css-skhanb {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-inline-end: 5px;
        }

        .css-5iaamc {
            border: none;
            background: none;
            text-align: center;
            color: rgb(117, 117, 117);
            cursor: pointer;
            text-decoration: underline;
            font-size: medium;
        }
    }
}