.buttons-trending {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 30px;
}
.buttons-trending p {
  display: flex;
  align-items: center;
  justify-content: start;
  
}

.buttons-trending button {
  background-color: #cfcece;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.buttons-trending button:hover {
  background-color: #afafaf; 
}
.buttons-hottest-gifts {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons-hottest-gifts button {
  background-color: #cfcece;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.buttons-hottest-gifts button:hover {
  background-color: #afafaf; 
}
.buttons-membership {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons-membership button {
  background-color: #cfcece;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.buttons-membership button:hover {
  background-color: #afafaf; 
}
.trending-home img {
  padding: 7px;
}
.trending-home h3 {
  text-align: start;
  margin-left: 10px;
}
.banner-home {
  background: #f5f5f5;
}
.banner-home .p-sub {
  font-size: 12px;
  text-decoration: underline;
}
.content-home-padding {
  padding: 5%;
}
.home-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.home-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container-trending p {
  display: flex;
  justify-content: start;
}
.container-trending {
  width: 100%;
}
.trending-home img {
  width: 100%;
  height: auto;
}
.img-happening-now {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -150%);
  text-align: center;
  color: rgb(1, 1, 1);
  padding: 20px;
}

.text-overlay h3,
.text-overlay p {
  margin: 0;
  text-align: start;
}

.container-hapenning-now {
  margin-top: 60px;
}
.container-hapenning-now p {
  display: flex;
  margin-top: 90px;
  margin-bottom: 30px;
}
.img-happening-now img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container-nike-gifting {
  margin-top: 60px;
}
.container-nike-gifting p {
  display: flex;
}
.img-nike-gifting img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-gifts-by-price {
  display: flex;
}
.img-gifts-by-price img {
  padding: 5px;
}
.container-gifts-by-price p {
  display: flex;
  margin-top: 90px;
  margin-bottom: 30px;
}
.img-gifts-by-price img {
  width: 33.4%;
}

.container-featured p {
  display: flex;
  margin-top: 90px;
  margin-bottom: 30px;
}
.img-featured img {
  width: 50%;
  padding: 5px;
}
.container-always-iconic {
  position: relative;
}

.buttons-always-iconic {
  position: absolute;
  top: 50%;
  left: 8%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.container-always-iconic p {
  display: flex;
  justify-content: start;
  margin-top: 90px;
  margin-bottom: 10px;
  margin-left: 80px;
}
.always-iconic-home img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.buttons-always-iconic {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons-always-iconic button {
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.buttons-always-iconic button:hover {
  background-color: #908f8f; 
}
.container-shop-by-sport p {
  display: flex;
  justify-content: start;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 80px;
}
.container-shop-by-sport {
  width: 100%;
}
.shop-by-sport-home img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.container-hottest-gifts p {
  display: flex;
  justify-content: start;
  margin-top: 80px;
  margin-bottom: 10px;
}
.container-hottest-gifts {
  width: 100%;
}
.hottest-gifts-home img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.container-membership p {
  display: flex;
  justify-content: start;
  margin-top: 80px;
  margin-bottom: 10px;
}
.container-membership {
  width: 100%;
}
.membership-home img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.ncss-btn-primary-dark {
  width: 150px;
  max-width: 10%;
}
@media screen and (max-width: 767px) {
  .ncss-btn-primary-dark {
    width: auto;
    max-width: 20%;
  }
}
