.ncss-container.nav-fixed-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.pt5-sm {
  padding-top: 20px;
}

.ncss-container {
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.bg-black {
  background-color: #111111;
}

.u-full-width {
  width: 100%;
}

footer {
  display: block;
}
