@import '../../variables';

.css-18wonve {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    text-align: start;

    .css-18wonveDiv {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .css-mkjsdf {
            max-width: 460px;
            min-width: 250px;
            margin: 0px 36px;
            width: 100%;

            .css-131faqr {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: start;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100px;
                gap: 10px;

                .css-15onk5w {
                    font-size: 22.5px;
                    margin: auto 0;
                }

            }

            .css-1ogxbr3 {
                color: #000000;
                font-size: 28px;
                font-weight: normal;
                line-height: 32px;
                margin-top: 0;
                margin-bottom: 12px;
            }

            .css-1qzlyy1 {
                position: relative;
                padding-bottom: 60px;

                .css-vxgrp0 {
                    display: flex;
                    -webkit-box-pack: justify;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .css-1u49mdr {
                        min-height: 40px;
                        position: relative;
                        margin-bottom: 16px;
                        padding-top: 2px;
                        display: flex;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        overflow: clip;

                        .css-1cq8889 {
                            color: rgb(17, 17, 17);
                            font-size: medium;
                        }

                        .css-nohim6 {
                            max-width: min-content;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-top: -18px;
                            white-space: nowrap;

                            .css-t4rufh {
                                width: max-content;
                                display: inline-block;
                                text-decoration: underline;
                                font-size: medium;
                                color: rgb(117, 117, 117);
                            }

                            .css-7o1x1z {
                                cursor: pointer;
                                opacity: 0;
                                position: absolute;
                                font-size: medium;
                            }
                        }
                    }

                    // .css-8atqhb {
                    //     width: 100%;
                    // }
                    .css-5p7ysv {
                        width: 100%;
                        box-sizing: border-box;
                        font: $podium-cds-typography-body1;
                        overflow: visible;
                        position: relative;
                        min-height: $podium-cds-size-form-input-container-height;

                        .nds-input-layout-control {
                            display: flex;
                            -webkit-box-pack: start;
                            justify-content: flex-start;
                            background-color: transparent;
                            -webkit-box-align: center;
                            align-items: center;
                            position: relative;
                            width: 100%;
                            height: $podium-cds-size-form-input-field-height;
                            top: $podium-cds-size-spacing-s;
                            border-radius: $podium-cds-size-border-radius-m;

                            .css-1x735yy {
                                border: 0px;
                                margin: 0px;
                                padding-top: $podium-cds-size-spacing-grid-gutter;
                                padding-inline-end: $podium-cds-size-spacing-grid-gutter;
                                padding-bottom: $podium-cds-size-spacing-grid-gutter;
                                padding-inline-start: $podium-cds-size-spacing-grid-gutter-l;
                                width: 100%;
                                box-sizing: border-box;
                                font: $podium-cds-typography-body1;
                                color: $podium-cds-color-text-primary;
                                background-color: transparent;
                                height: $podium-cds-size-form-input-field-height;
                                border-radius: $podium-cds-size-border-radius-m;
                            }

                            input:-webkit-autofill~label {
                                // line-height: 16px;
                                top: $podium-cds-size-spacing-m;
                            }

                            input {
                                width: 100%;
                                height: 100%;
                            }

                            label {
                                pointer-events: none;
                            }

                            .css-5juldo {
                                position: absolute;
                                left: $podium-cds-size-spacing-s;
                                top: 16px;
                                user-select: none;
                                line-height: 16px;
                                transform: scale(0.75) translateY(-32px);
                                transform-origin: left center;
                                will-change: transform;
                                transition-property: transform;
                                transition-duration: $podium-cds-transition-duration-normal;
                                transition-timing-function: $podium-cds-transition-timing-function-ease;
                                color: $podium-cds-color-text-secondary;
                                pointer-events: none;
                                padding: 0 $podium-cds-size-spacing-xs;
                            }

                            fieldset {
                                position: absolute;
                                box-sizing: border-box;
                                left: 0px;
                                bottom: 0px;
                                width: 100%;
                                height: 100%;
                                border-color: $podium-cds-color-border-primary;
                                border-style: solid;
                                border-width: $podium-cds-size-border-width-s;
                                border-radius: $podium-cds-size-border-radius-m;
                                padding: 0px;
                                margin: 0px;
                                pointer-events: none;
                            }

                            .css-1eif5ff {
                                text-align: start;
                            }
                        }

                        .textfield-support-container {
                            position: relative;
                            margin-top: $podium-cds-size-spacing-s;
                            display: flex;
                            padding: $podium-cds-size-spacing-xs $podium-cds-size-spacing-grid-gutter-l 0 $podium-cds-size-spacing-grid-gutter-l;
                        }
                    }

                    .css-m196z {
                        width: 80%;
                        margin: 24px 0px;
                        display: flex;
                        align-items: flex-start;

                        .css-zinu7o {
                            color: rgb(117, 117, 117);
                            text-align: start;

                            .css-zinu7o a {
                                color: rgb(117, 117, 117);
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }


                    .css-1cuic7g {
                        margin-top: 15px;
                        width: 100%;

                        .css-6kj7vn {
                            text-align: center;
                            box-sizing: border-box;
                            display: flex;
                            -webkit-box-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            align-items: center;
                            cursor: pointer;
                            min-height: $podium-cds-button-height-m;
                            position: relative;
                            transform: translate3d(0px, 0px, 0px);
                            color: $podium-cds-color-text-primary-inverse;
                            line-height: 16px;
                            font-size: medium;
                            font-weight: normal;
                            text-decoration: none;
                            padding: $podium-cds-button-padding-top-m $podium-cds-button-padding-sides-m;
                            overflow: hidden;
                            background: $podium-cds-button-color-bg-primary;
                            border-width: initial;
                            border-style: none;
                            border-color: initial;
                            border-image: initial;
                            border-radius: $podium-cds-button-border-radius;
                            outline: none;
                            white-space: nowrap;
                        }
                    }

                    @media (min-width: 376px) {
                        .css-1cuic7g {
                            display: flex;
                            flex-direction: row-reverse;
                            flex: 1 1 0%;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}

[class*=g72] {
    font-family: nike-glyphs;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}