@import './variables';
@import './dotcom-nav-client.scss';
@import './ncss.en-us.min.scss';

*,
:after,
:before {

  fieldset,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  legend,
  li,
  p,
  span,
  strong,
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

}

#root {
  margin: 0 auto;
  text-align: center;
  color: $podium-cds-color-black;

  font-size: inherit;
  line-height: inherit;
  font-family: 'Open Sans', sans-serif;
  color: $podium-cds-color-black;
  background-color: $podium-cds-color-white;
}

.btn-primary-dark {
  padding: $podium-cds-button-padding-top-s $podium-cds-button-padding-sides-s;
  border-radius: $podium-cds-button-border-radius;
  border: $podium-cds-button-border-width solid transparent;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: $podium-cds-button-color-bg-primary;
  color: $podium-cds-color-text-primary-inverse;
}

.btn-primary-dark:hover {
  background: $podium-cds-button-color-bg-primary-hover;
}