@import './variables';
@import './dotcom-nav-client.css';
@import './ncss.en-us.min.css';

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;

  fieldset,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  legend,
  li,
  p,
  span,
  strong,
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: $podium-cds-color-black;

  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  color: $podium-cds-color-black;
  background-color: $podium-cds-color-white;
}

// a {
//   text-decoration: none;
//   color: $podium-cds-color-black;
//   cursor: pointer;
//   font-weight: 500;
//   font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
// }

// ol,
// ul {
//   list-style: none;
//   list-style-type: none;

//   li {
//     list-style: none;
//   }
// }

// svg {
//   overflow-clip-margin: content-box;
//   overflow: hidden;
// }

// div {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }

// .headline-5 {
//   font: $podium-cds-typography-body1-strong
// }

// .btn-primary-dark {
//   padding: $podium-cds-button-padding-top-s $podium-cds-button-padding-sides-s;
//   border-radius: $podium-cds-button-border-radius;
//   border: $podium-cds-button-border-width solid transparent;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   background: $podium-cds-button-color-bg-primary;
//   color: $podium-cds-color-text-primary-inverse;
// }

// .btn-primary-dark:hover {
//   background: $podium-cds-button-color-bg-primary-hover;
// }

// [class*=ncss-col-] {
//   position: relative;
//   min-height: 1px;
//   display: none;
//   font-size: 16px;
//   line-height: 1.75;
//   padding-left: 6px;
//   padding-right: 6px;

//   .ncss-col-sm-2 {
//     width: 16.666666666666664%;
//     display: inline-block;
//   }
// }